.App {
  text-align: center;
  
}
.app {
  background-color: #dddddd;
  width: 100vh;
  height: 100vh;

}

.flex {
  display:flex;
}
.header {
  background-color: #6aa84f;
  width: 100vh;
  height:20vh;
}

.navigation {
  background-color: #6fa8dc;
  width:25vh;
  height:70vh;
}

.main {
  background-color:#e06666;
  width: 75vh;
  height:80vh;
}

.subcontents {
  background-color: yellow;
  width: 20vh;
  height:50vh;
  margin-right: 10px;
  margin-bottom: 10px;
}

.advertisement {
  background-color:violet;
  width:70vh;
  height:20vh;
}

